<div class = "detailscontainer">
    <h1>Sarah's Castle</h1>
<img class = "img" src="../images/1.jpg" alt="house image">
    <div class="details-flex-container">
        <div class = "contain-all-details">
            <p>{{data.space.name}}</p>
            <p>Details </p>
            <p class = "details-text">
              {{data.space.description}}
            </p>
            <h3>Amenties</h3>
            <p class="amenities">
              £{{data.space.cost}}
            </p>  
        </div>
 
            <div class="avalibility-container" >
                <p> Choose dates to book :!</p>
{{!--                 
                {{#if data.booking}}
                {{#each data.booking}}
                  <p>start: {{this.startdate}}</p>
                  <p>end: {{this.enddate}}</p>

                {{/each}}
                {{/if}}
                <p> <img src="../images/calendar.png" alt="calendar image"></p> --}} 
            <form> 
                <form action="/details">
                 <input id ="check-in" type="date" name="check-in">
                 <input id = "check-out" type="date" name="check-out">
                <input type="submit" value="Book">
            </form>
            <p id="pricing-container"></p>
        </div> 
    </div>
    

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
</style>

</div>

<script > 
    const checkIn = document.querySelector('#check-in');
    const checkOut = document.querySelector('#check-out');
    const pricingContainer = document.querySelector('#pricing-container');
    const price = {{{data.space.cost}}}

    checkIn.addEventListener('change', update);
    checkOut.addEventListener('change', update);


    function update(a) {
  if (checkIn.value && checkOut.value !== "") { 
    console.log(`start date: ${checkIn.value}, end date: ${checkOut.value}`);

    const oneDay = 24 * 60 * 60 * 1000; // hours*minutes*seconds*milliseconds
    const firstDate = new Date (checkIn.value)
    const secondDate = new Date(checkOut.value);
    const diffDays = Math.round(Math.abs((firstDate - secondDate) / oneDay));
    pricingContainer.innerHTML = `<p>You have selected ${diffDays} nights at £${price} per night</p>`
  } 

}


</script>